<style src="/css/estilo.css"></style>
<h1 class="display-2">Pagina 1 Exercício Tópicos especiais</h1>
<div>
    <p class="text-justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tristique vel felis feugiat auctor. Maecenas euismod blandit nibh semper fringilla. Etiam elit libero, congue et sapien et, viverra elementum tortor. Cras sagittis consequat vehicula. Ut augue turpis, mattis at venenatis quis, rutrum sodales nunc. Nunc blandit cursus erat. Nullam purus.
    </p>
</div>
<div class="text-center">
    <img src="/imagens/imagem1.jpg" id="imagem" class=" rounded-circle" alt="Tecnologia">
</div><br />
<ul>
    <strong>Tecnologias:</strong>
    <li>HTML5</li>
    <li>CSS3</li>
    <li>C#</li>
    <li>Bootstrap</li>
    <li>ASP.NET</li>
</ul>
